<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prem | Cloud Engineer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white font-sans">

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="p-10 text-center text-gray-500 text-sm">
        &copy; 2026 Prem. Powered by Python & Azure.
    </footer>

</body>
</html>