name: Deploy Portfolio

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    # environment: production  # Uncomment this ONLY if your secrets are in a GitHub Environment
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Azure VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Navigate to project
            cd /var/www/html
            
            # Pull latest changes
            git pull origin main
            
            # Build and Deploy using Docker
            sudo docker build -t my-portfolio .
            sudo docker stop portfolio-container || true
            sudo docker rm portfolio-container || true
            sudo docker run -d -p 80:5000 --name portfolio-container my-portfolio